<div class="body">

    <h1 class="body-header my-5">Experts Services To Change Business</h1>

</div>

<div class="container m-auto">

    <div class="row justify-content-center">

        <div class="col-lg-12 row justify-content-center">
            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">

                <div class="card box-card h-100">
                    <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">
                        <button type="button" routerLink="../config">
                            <img class="text-center mb-2" src="assets/images/Configure.svg" alt="" srcset="">
                            <p class="card-text text-center  mt-2">Configure</p>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/Code-swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2 ">Code Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/word-swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2">Word Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/Test-swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2 ">Test Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/word-recom-swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2 ">Word Recom Swami</p>

                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-12 row justify-content-center">
            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/Story Swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2">Story Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/Achitect Swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2">Achitect Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/devops swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2">Devops Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/production-swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2">Production Swami</p>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-auto col-lg-5 col-sm-6 m-3">
                <a href="">
                    <div class="card box-card h-100">
                        <div class="card-body mx-auto my-auto d-block text-center p-xxl-5 p-xl-4">

                            <img class="text-center mb-2" src="assets/images/log-swami.svg" alt="" srcset="">
                            <p class="card-text text-center mt-2">Log Swami</p>

                        </div>
                    </div>
                </a>
            </div>
        </div>



    </div>




</div>