<div class="header p-3 d-flex justify-content-between px-4">

    <div class="d-flex align-items-center ">
        <a href="./00_LoginPage.html">
            <img src="assets/images/Group 805-dashboard.svg" alt="" srcset="">
        </a>

        <div class="menu">
            <ul class="horizontal mb-0 d-inline">
                <li class="mx-3 d-inline"><a class="menu-text" href="#">Examples</a></li>
                <li class="mx-3 d-inline"><a class="menu-text" href="#">Play Ground</a></li>
                <li class="mx-3 d-inline"><a class="menu-text" href="#">Tasks</a></li>
            </ul>
        </div>

    </div>

    <!--  -->

    <nav class="navbar navbar-dark navbar-expand-xl nav-card">
        <button class="navbar-toggler side-nav" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="box-shadow: none;">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">

                <button type="button" class="btn-close  close-btn" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>


            <div class="offcanvas-body p-0">
                <div class="navbar-nav">


                    <div class="card-body pt-0">

                        <div class="profile-1 mx-3 col-lg-11">
                            <div class=" d-flex justify-content-between align-items-center">

                                <div class="me-3">
                                    <img src="assets/images/Profile-img.svg" alt="" srcset="">
                                </div>

                                <div class="ms-3">
                                    <p class="profile-name text-start mb-0">Anna Adame
                                    </p>
                                    <small class="profile-role float-start">UX Desginer</small>
                                </div>

                            </div>
                        </div>

                        <div class="menu-1 d-xl-none mt-3">
                            <ul class="horizontal mb-0 ps-0">
                                <li class="mx-3 px-2 py-3 menu-toggle"><a class="menu-text-1" href="#"> <img
                                            class="mx-2" alt="" srcset="">
                                        Examples</a></li>
                                <li class="mx-3 px-2 py-3 my-3 menu-toggle-1 "><a class="menu-text-1" href="#"><img
                                            class="mx-2" alt="" srcset=""> Play
                                        Ground</a></li>
                                <li class="mx-3 px-2 py-3 mt-2 menu-toggle-2"><a class="menu-text-1" href="#"><img
                                            class="mx-2" alt="" srcset=""> Tasks</a>
                                </li>
                            </ul>
                        </div>


                    </div>

                </div>
            </div>
        </div>

    </nav>
</div>